$c: "black", #1a1a1a;
$c: "bright black", #262626;
$c: "brighter black", #333;
$c: "grey", #595959;
$c: "bright grey", #737373;
$c: "brighter grey", #8c8c8c;
$c: "brightest grey", #a6a6a6;
$c: "white", #e6e6e6;
$c: "bright white", #f7f7f7;
$c: "red", #d42b2b;
$c: "red transparent", #d42b2b17;
$c: "bright red", #dc5656;
$c: "brighter red", #e69999;
$c: "beige", #a4825b;
$c: "bright beige", #c0a78c;
$c: "salmon", #df7d53;
$c: "bright salmon", #e1a084;
$c: "orange", #c9811d;
$c: "bright orange", #e0a552;
$c: "yellow", #dab625;
$c: "bright yellow", #e5cc66;
$c: "lemon", #9bba45;
$c: "bright lemon", #b9cf7d;
$c: "green", #18b44c;
$c: "green transparent", #18b44c17;
$c: "bright green", #47d175;
$c: "cyan", #29a1a3;
$c: "bright cyan", #54c3c4;
$c: "blue", #007acc;
$c: "bright blue", #3c9cdd;
$c: "violet", #3a28bd;
$c: "bright violet", #6a5cd6;
$c: "brighter violet", #8f85e0;
$c: "brightest violet", #a49ce2;
$c: "magenta", #8517cf;
$c: "bright magenta", #a752e0;
$c: "brighter magenta", #bc85e0;
$c: "brightest magenta", #c799e6;
